<div class="search-container">
  <form [formGroup]="contestForm">
    <input type="text" formControlName="searchName" placeholder="Insert name..." (input)="searchContest()">
  </form>
  <button class="dashboard-btn" (click)="goToDashboard()">Return to Dashboard</button>
</div>
<table border="1" *ngIf="filteredContestList.length > 0; else allContest">
    <thead>
      <tr>
        <th>Name</th>
        <th>Goal</th>
        <th>Prize</th>
        <th>Deadline</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contest of filteredContestList">
        
        <td><strong> {{ contest.name }} </strong></td>
        <td>  {{ contest.goal }} </td>
        <td>  {{ contest.prize }} </td>
        <td>  {{ contest.deadline | date:'dd/MM/yyyy HH:mm:ss' }} </td>
        <td>
          <button class="view" (click)="viewContestDetails(contest.id)">View</button>
        </td>
    </tr>
    </tbody>
</table>

<ng-template #allContest>

<div *ngIf="!selectedContest && !isAdding && !isEditing">
    <h2>Contest List</h2>
    <div class="button-container">
        <button *ngIf="rolePermission.isAnimator()" (click)="addContest()">Add new Contest</button>
    </div>
    <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Goal</th>
        <th>Prize</th>
        <th>Deadline</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contest of contests">
        
        <td><strong> {{ contest.name }} </strong></td>
        <td>  {{ contest.goal }} </td>
        <td>  {{ contest.prize }} </td>
        <td>  {{ contest.deadline | date:'dd/MM/yyyy HH:mm:ss' }} </td>
        <td>
          <button class="view" (click)="viewContestDetails(contest.id)">View</button>
          <button *ngIf="rolePermission.isAnimator() || rolePermission.isAdmin()" class="edit" (click)="updateContest(contest.id)">Modify</button>
          <button *ngIf="rolePermission.isAnimator() || rolePermission.isAdmin()" class="delete" (click)="deleteContest(contest.id)">Delete</button>
        </td>
    </tr>
    </tbody>
    </table>
</div>

<div *ngIf="selectedContest && !isEditing">
    <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Author</th>
        <th>Rules</th>
        <th>Goal</th>
        <th>Prize</th>
        <th>Deadline</th>
        <th>Active</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Number of Participant</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong> {{ selectedContest.name }} </strong></td>
        <td>  {{ selectedContest.description }} </td>
        <td>  {{ selectedContest.author.firstname }} {{ selectedContest.author.lastname }} </td>
        <td>  {{ selectedContest.rules }} </td>
        <td>  {{ selectedContest.goal }} </td>
        <td>  {{ selectedContest.prize }} </td>
        <td>  {{ selectedContest.deadline | date:'dd/MM/yyyy HH:mm:ss' }} </td>
        <td>  {{ selectedContest.active ? 'Active' : 'Inactive'}} </td>
        <td>  {{ selectedContest.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>  {{ selectedContest.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>  {{ selectedContest.numberOfParticipant }} </td>
        <td>
          <button *ngIf="rolePermission.isAnimator() || rolePermission.isAdmin()" class="edit" (click)="updateContest(selectedContest.id)">Modify</button>
          <button *ngIf="!rolePermission.isAnimator() && !rolePermission.isAdmin()" (click)="participateToContest()">Participate</button>
          <button *ngIf="rolePermission.isAnimator() || rolePermission.isAdmin()" (click)="goToParticipants()">Show Participants</button>
          <button (click)="goBack()">Back</button>
        </td>
        </tr>
    </tbody>
    </table>
</div>

<section *ngIf="isAdding || isEditing">
  <h2>{{ isAdding ? 'Add new Contest' : 'Modify Contest'}}</h2>
    <form [formGroup]="contestForm" (ngSubmit)="saveChanges()">
      <div>
        <label>Name:</label>
        <input type="text" formControlName="name" required>
      </div>
        
      <div>
        <label>Description:</label>
        <textarea type="text" formControlName="description" required></textarea>
      </div>    

      <div>
        <label>Rules:</label>
        <input type="text" formControlName="rules" required>
      </div>

      <div>
        <label>Goal:</label>
        <input type="text" formControlName="goal" required>
      </div>

      <div>
        <label>Prize:</label>
        <input type="text" formControlName="prize" required>
      </div>
        
      <div>
        <label for="deadline">Deadline:</label>
        <input type="datetime-local" id="deadline" formControlName="deadline" required>
      </div>
      <div>
        <label>Active:</label>
          <div>
            <label>Yes</label>
            <input type="radio" formControlName="active" [value]="true" required>
            
            <label>No</label>
            <input type="radio" formControlName="active" [value]="false" required>
          </div>
      </div>
      <div>
        <button type="submit" [disabled]="contestForm.invalid">Save</button>
        <button type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </section>
</ng-template>