<h2>Contest List</h2>
<li *ngFor="let contest of contests">
        <h3> {{ contest.name }} </h3>
        <p> Description: {{ contest.description }} </p>
        <p> Author: {{ contest.author }} </p>
        <p> Rules: {{ contest.rules }} </p>
        <p> Goal: {{ contest.goal }} </p>
        <p> Prize: {{ contest.prize }} </p>
        <p> Deadline: {{ contest.deadline | date:'dd/MM/yyyy HH:mm:ss' }} </p>
        <p> Active: {{ contest.active ? 'Active' : 'Inactive'}} </p>
        <p> Created at: {{ contest.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</p>
        <p> Updated At: {{ contest.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</p>
        <p> Number of Participants: {{ contest.numberOfParticipant }} </p>
</li>