<div class="dashboard">
    <nav class="sidebar">
        <div class="navbar">
            <a href="/home">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/poi">Point of Interest</a>
            <a href="/contents">Content</a>
            <a href="/contest">Contest</a>
            <a *ngIf="userRole === 'ADMIN'" href="/users">Users</a>
            <button class="logout-btn" *ngIf="isAutheticated()" (click)="logout()">Logout</button>
        </div>
    </nav>
    <section class="content">
        <h1>Welcome to Dashboard</h1>
        <h4>On this dashboard you can navigate to:</h4>
        <p> -Point of Interest</p>
        <p> -Contest and Participants</p>
        <p> -Contents</p>
        <p> -Users Management</p>

        <article>This is a project for an Universary Exam for Application Web and Mobile Course.</article>
        <footer>Realized by Simone Stacchiotti.</footer>
    </section>
</div>