<div class="search-container">
  <form [formGroup]="poiForm">
    <input type="text" formControlName="searchName" placeholder="Insert name..." (input)="searchPois()">

    <select formControlName="searchType" (change)="searchPois()">
      <option value="">-- Seleziona un tipo --</option>
      <option value="TOURISM">Tourism</option>
      <option value="ACCOMMODATION">Accomodation</option>
      <option value="SERVICE">Service</option>
      <option value="NATURE">Nature</option>
      <option value="OTHER">Other</option>
    </select>
  </form>
</div>

<table border="1" *ngIf="filteredPoiList.length > 0; else allPois">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poi of filteredPoiList">
      <td>{{ poi.name }}</td>
      <td>{{ poi.type }}</td>
      <td>
        <button class="view" (click)="viewPoiDetails(poi.id)">View</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #allPois>

<div *ngIf="!selectedPoi && !isAdding && !isEditing">
  <h2>Point of Interest List</h2>
  <div class="button-container">
    <button (click)="addPoi()">Add new Point of Interest</button>
  </div>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poi of pois"> 
        <td><strong> {{ poi.name }} </strong></td>
        <td>
          <button class="view" (click)="viewPoiDetails(poi.id)">View</button>
          <button class="edit" (click)="updatePoi(poi.id)">Modify</button>
          <button class="delete" (click)="deletePoi(poi.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<button class="footer-button" (click)="goToDashboard()">Return to Dashboard</button>
</div>

<div *ngIf="selectedPoi && !isEditing">
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Author</th>
        <th>Latitude & Longitude</th>
        <th>Type</th>
        <th>Open Time & Close Time</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <td><strong> {{ selectedPoi.name }} </strong></td>
      <td> {{ selectedPoi.description }} </td>
      <td> {{ selectedPoi.author.firstname }} {{ selectedPoi.author.lastname }} </td>
      <td> [{{ selectedPoi.latitude }}, {{ selectedPoi.longitude }}] </td>
      <td> {{ selectedPoi.type }} </td>
      <td> {{ selectedPoi.openTime }}, {{ selectedPoi.closeTime }} </td>
      <td> {{ selectedPoi.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      <td> {{ selectedPoi.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      <button class="edit" (click)="updatePoi(selectedPoi.id)">Modify</button>
      <button (click)="goBack()">Back</button>
    </tbody>
  </table>
</div>

<div *ngIf="isAdding || isEditing">
  <h2>{{ isAdding ? 'Add new Point of Interest' : 'Modify Point of Interest'}}</h2>
  <form [formGroup]="poiForm" (ngSubmit)="saveChanges()">

    <label>Name:</label>
    <input type="text" formControlName="name" required>

    <label>Description:</label>
    <input type="text" formControlName="description" required>

    <label>Firstname:</label>
    <input type="text" formControlName="authorFirstname" required>

    <label>Lastname:</label>
    <input type="text" formControlName="authorLastname" required>

    <label>Latitude:</label>
    <input type="text" formControlName="latitude" required>

    <label>Longitude:</label>
    <input type="text" formControlName="longitude" required>

    <label for="type">Select Type of Point Of Interest:</label>
    <select id="type" formControlName="type" required>
      <option value="TOURISM">Tourism</option>
      <option value="ACCOMMODATION">Accomodation</option>
      <option value="SERVICE">Service</option>
      <option value="NATURE">Nature</option>
      <option value="OTHER">Other</option>
    </select>

    <label>Open Time:</label>
    <input type="time" formControlName="openTime" required>
 
    <label>Close Time:</label>
    <input type="time" formControlName="closeTime" required>

    <button type="submit" [disabled]="poiForm.invalid">Save</button>
    <button type="button" (click)="goBack()">Cancel</button>
  </form>
</div>
</ng-template>