.title-container {
  max-width: 300px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.participant-list {
    display: flex;
    gap: 20px;
}

.participant-list ul {
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    flex: 1;
    text-align: center;
}

.participant-card {
  max-width: 500px;
  height: 350px;
  background: #e3f2fd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 15px;
  align-items: center;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.participant-title {
  margin: 10px;
  font-size: 30px;
  text-align: center;
  color: #1565c0;
  max-width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}

.participant-info {
  margin: 0;
  font-size: 16px;
  color: #222;
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.button-group {
  display: flex;
  gap: 30px;
  padding: 10px 20px;
  margin: 30px;
  margin-top: 30px;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.btn-primary {
  background: #1565c0;
  color: #fff;
}

.btn-danger {
  background: #d32f2f;
  color: #fff;
}

.btn-secondary {
  background: #757575;
  color: #fff;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  margin: 2px;
  margin-top: 20px;
}