<h2 class="title-container"><strong>Participant List</strong></h2>

<div class="navigation-buttons">
    <button *ngIf="rolePermission.isAnimator()" class="btn-primary" (click)="endContest()">End Contest</button>
    <button class="btn-secondary" (click)="goBack()">Back</button>
    <button class="btn-primary" (click)="goToDashboard()">Return to Dashboard</button>
</div> 

<div class="participant-list">
<ul class="participant-card" *ngFor="let participant of participantList">
    <div>
        <h3 class="participant-title"><strong>Participant</strong></h3>
        <div *ngIf="previewUrl">
            <img *ngIf="previewUrl.includes('image')" [src]="previewUrl" class="img-thumbnail" width="200">
            <a *ngIf="!previewUrl.includes('image')" [href]="previewUrl" target="_blank">Open File</a>
        </div>
        <p class="participant-info"> {{ participant.participant.firstname }} {{ participant.participant.lastname }} - {{ participant.participant.email }} </p>
        <p class="participant-info"> This User is sign up to {{ participant.contest.name }} </p>
        <p class="participant-info" *ngIf="participant.quoteCriterion.isQuote"> Vote: {{ participant.quoteCriterion.vote }} - Description: {{ participant.quoteCriterion.description }} </p>
        <div class="button-group">
            <button class="btn-primary" *ngIf="!participant.quoteCriterion.isQuote && rolePermission.isAnimator()" (click)="startEvaluation(participant)">Valuate</button>
            <button class="btn-danger" *ngIf="rolePermission.isAnimator() || rolePermission.isAdmin()" (click)="deleteParticipant(participant.id)">Delete Participant</button>
        </div>
    </div>
</ul>
</div>
<section *ngIf="!rolePermission.isAnimator() && !rolePermission.isAdmin()">
    <h3>Sign Up for Participate at Contest by uploading a File</h3>
    <div>
        <input type="file" (change)="selectFile($event)">
        <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview of File" width="150">
    </div>
    <div>
        <button (click)="signUpParticipant()">Sign Up</button>
        <button (click)="goBack()">Back</button>
    </div>
</section>

<form *ngIf="isValuate" [formGroup]="quoteCriterionForm" (ngSubmit)="sendEvaluation()">
    <div>
        <label for="vote">Vote (1-10):</label>
        <input id="vote" type="number" min="1" max="10" formControlName="vote" required>
    </div>  
    <div>
        <label for="description">Description:</label>
        <textarea id="description" type="text" formControlName="description" required></textarea>
    </div>
    <button type="submit" [disabled]="quoteCriterionForm.invalid">Valuate</button>
    <button (click)="goBack()">Back</button>
</form>