<h2 class="container">Participant List</h2>
<div *ngFor="let participant of participantList">
    <div class="participant-card">
        <h3 class="participant-info">Participant:</h3>
        <p class="participant-info"> Name: {{ participant.participant.firstname }} {{ participant.participant.lastname }} </p>
        <p class="participant-info"> Email: {{ participant.participant.email }}  </p>
        <p class="participant-info"> Contest Name: {{ participant.contest.name }} </p>
            
        <p class="participant-info" *ngIf="participant.quoteCriterion.isQuote">  {{ participant.quoteCriterion.vote }} - {{ participant.quoteCriterion.description }} </p>
        
        <div class="button-group">
            <button class="btn-primary" *ngIf="!participant.quoteCriterion.isQuote" (click)="startEvaluation(participant)">Valuate</button>
            <button class="btn-danger" (click)="deleteContest(participant.id)">Delete Participant</button>
        </div>

    </div>
</div>

<div class="navigation-buttons">
    <button class="btn-primary" (click)="endContest()">End Contest</button>
    <button class="btn-secondary" (click)="goBack()">Back</button>
    <button class="btn-primary" (click)="goToDashboard()">Return to Dashboard</button>
</div>  

<section>
    <h3>Sign Up for Participate at Contest by uploading a File</h3>
    <div>
        <input type="file" (change)="selectFile($event)">
        <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview of File" width="150">
    </div>
    <div>
        <button (click)="signUpParticipant()">Sign Up</button>
        <button (click)="goBack()">Back</button>
    </div>
</section>

<form *ngIf="isValuate" [formGroup]="quoteCriterionForm" (ngSubmit)="sendEvaluation()">
    <div>
        <label for="vote">Vote (1-10):</label>
        <input id="vote" type="number" min="1" max="10" formControlName="vote" required>
    </div>  
    <div>
        <label for="description">Description:</label>
        <textarea id="description" type="text" formControlName="description" required></textarea>
    </div>
    <button type="submit" [disabled]="quoteCriterionForm.invalid">Valuate</button>
    <button (click)="goBack()">Back</button>
</form>