<h2>User List</h2>
<div *ngIf="!userId">
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td><strong>{{user.firstname}} {{user.lastname}}</strong></td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
        <td>{{ user.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ user.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>
          <button (click)="editUser(user.id)">Modify</button>
          <button class="delete" (click)="deleteUser(user.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div *ngIf="userId">
  <form [formGroup]="userForm" (ngSubmit)="updateUser()">

    <label>Firstname:</label>
    <input type="text" formControlName="firstname" required>

    <label>Lastname:</label>
    <input type="text" formControlName="lastname" required>

    <label>Email:</label>
    <input type="email" formControlName="email" required>

    <label>Password:</label>
    <input type="password" formControlName="password" required>

    <button type="submit">Update</button>
    <button type="button" (click)="cancelUpdate()">Cancel</button>
  </form>
</div>

<button (click)="openAddUser()">Add User</button>

<div *ngIf="newUserForm">
  <form [formGroup]="newUserForm" (ngSubmit)="addUser()">

    <label>Firstname:</label>
    <input type="text" formControlName="firstname" required>

    <label>Lastname:</label>
    <input type="text" formControlName="lastname" required>

    <label>Email:</label>
    <input type="email" formControlName="email" required>

    <label>Password:</label>
    <input type="password" formControlName="password" required>

    <label for="role">Role:</label>
    <input id="role" formControlName="roleName" required>

    <button type="submit">Add</button>
    <button type="button" (click)="cancelAddUser()">Cancel</button>
  </form>
</div>