<h2>MultimediaContents List</h2>
<table>
        <tr>
                <th>Title</th>
                <th>Format</th>
                <th>Description</th>
                <th>Author</th>
                <th>Status</th>
                <th>Point of Interest</th>
                <th>File</th>
                <th>Created At</th>
                <th>Updated At</th>
        </tr>
        <tr *ngFor="let multimediaContent of multimediaContents">
                <td> {{ multimediaContent.title }} </td>
                <td> {{ multimediaContent.type }} </td>
                <td> {{ multimediaContent.description }} </td>
                <td> {{ multimediaContent.author }} </td>
                <td> {{ multimediaContent.status }} </td>
                <td *ngIf="multimediaContent.pointOfInterestResponse"> {{ multimediaContent.pointOfInterestResponse.name }} </td>
                <td *ngIf="multimediaContent.mediaFileResponse && multimediaContent.mediaFileResponse.type.startsWith('image'); else noImage">
                        <img [src]="'data:' + multimediaContent.mediaFileResponse.type + ';base64,' + multimediaContent.mediaFileResponse.base64" width="100">
                </td>
                <ng-template #noImage>
                        <td>Immagine non disponibile</td>
                </ng-template>
                <td> {{ multimediaContent.createdAt | date:'dd/MM/yyyy HH:mm:ss' }} </td>
                <td> {{ multimediaContent.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}} </td>
        </tr>
</table>