.post-list {
    display: flex;
    gap: 20px;
}

.post-list ul {
    max-width: 300px;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    flex: 1;
    text-align: center;
}

.post-container {
    max-width: 500px;
    height: 400px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.post-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 15px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.post-content h3 {
    margin: 0;
    font-size: 20px;
    color: #222;
}

.post-content p {
    font-size: 16px;
    color: #555;
}

.author-name {
    font-weight: bold;
    color: #333;
}

.post-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.hashtags {
    margin-top: 15px;
}

.hashtags span {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
    display: inline-block;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: space-evenly; 
  padding: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px;
}

.new-btn {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.view-btn {
    background: #45be08;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.edit-btn {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.delete-btn {
    background: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.dashboard-btn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px;
}

.return-btn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px;
}