<div>
    <button class="new-btn" *ngIf="rolePermission.isCurator() || rolePermission.isContributor()" (click)="createContent()">New Content</button>
    <button class="delete-btn" *ngIf="rolePermission.isCurator()" (click)="deleteAllRejectContent()">Delete All Rejected Contents</button>
    <button class="dashboard-btn" (click)="goToDashboard()">Return to Dashboard</button>
</div>

<div *ngIf="!isCreatingContent && !isUpdateContent && !selectedContent" class="post-list">
  <ul class="post-card" *ngFor="let content of contents">
      <div *ngIf="content.status !== Status.REJECTED">
        <h3 class="post-content"><strong>{{ content.title }}</strong></h3>
        <p class="post-content">{{ content.content }}</p>
        <button class="view-btn" (click)="navigateToContent(content.id)">View</button>
      </div>
  </ul>
</div>

<div *ngIf="selectedContent && !isUpdateContent" class="post-container">
    <h3 class="post-content"><strong> {{ selectedContent.title }} </strong></h3>
    <p class="author-name"> {{ selectedContent.author.firstname }} {{ selectedContent.author.lastname }} </p>
    <div class="post-header" *ngIf="previewUrl">
      <img *ngIf="previewUrl.includes('image')" [src]="previewUrl" class="img-thumbnail" width="200">
      <a *ngIf="!previewUrl.includes('image')" [href]="previewUrl" target="_blank">Open File</a>
    </div>
    <p class="post-content"> {{ selectedContent.content }} </p>
    <p class="post-content"> {{ selectedContent.pointOfInterest.name }} </p>
    <p class="hashtags"> <span> {{ selectedContent.hashtag }} </span> </p>
    <div class="post-actions">
      <div class="button-group" *ngIf="selectedContent.status === Status.PENDING && rolePermission.isCurator()">
        <button (click)="approveContent(selectedContent.id)">Approve</button>
        <button (click)="rejectContent(selectedContent.id)">Reject</button>
      </div>
      <div class="button-group">
        <button class="edit-btn" *ngIf="rolePermission.isCurator()" (click)="updateContent(selectedContent.id)">Modify</button>
        <button class="delete-btn" *ngIf="rolePermission.isCurator()" (click)="deleteContent(selectedContent.id)">Delete</button>
        <button class="return-btn" (click)="goBack()">Return to List</button>
      </div>
    </div>
</div>

<section *ngIf="isCreatingContent || isUpdateContent">
<h2>{{ isCreatingContent ? 'New Content' : 'Modify Content'}}</h2>
<form [formGroup]="contentForm" (ngSubmit)="saveContent()">
    <div>
        <label>Title:</label>
        <input type="text" formControlName="title" required>
    </div>
  
    <div>
        <label>Content:</label>
        <textarea type="text" formControlName="content" required></textarea>
    </div>

    <div>
        <label>Hashtag:</label>
        <input type="text" formControlName="hashtag" required>
    </div>

  <div>
    <label for="idPoi">Point of Interest Associeted:</label>
    <select id="idPoi" formControlName="idPoi" required>
      <option value="" disabled selected>Select one Point of Interest...</option>
      <option *ngFor="let poi of pois" [value]="poi.id">{{ poi.name }} - {{ poi.description }}</option>
    </select>
  </div>

  <div>
    <h3>Upload File</h3>
    <input type="file" (change)="selectFile($event)">
    <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview of File" width="150">
  </div>

  <p></p>
  <p></p>

  <button class="button" type="submit" [disabled]="contentForm.invalid">Save</button>
  <button class="button" (click)="goBack()">Back</button>
</form>
</section>