<div *ngIf="!isCreatingContent && !isUpdateContent && !selectedContent" class="post-list">
  <div>
    <button (click)="createContent()">New Content</button>
  </div>
  <h2>Content List</h2>
  <ul>
    <li class="post-card" *ngFor="let content of contents">
      <div *ngIf="content.status !== Status.REJECTED">
        <h3>{{ content.title }}</h3>
        <p>{{ content.content }}</p>
        <button (click)="navigateToContent(content.id)">View</button>
      </div>
    </li>
  </ul>
  <div>
    <button (click)="deleteAllRejectContent()">Delete All Rejected Contents</button>
  </div>
</div>

<div *ngIf="selectedContent && !isUpdateContent" class="post-container">
    <h3 class="post-content">{{ selectedContent.title }}</h3>
    <div class="post-header" *ngIf="previewUrl">
      <img *ngIf="previewUrl.includes('image')" [src]="previewUrl" class="img-thumbnail" width="200">
      <a *ngIf="!previewUrl.includes('image')" [href]="previewUrl" target="_blank">Open File</a>
    </div>
    <p class="post-content">{{ selectedContent.content }}</p>
    <p class="author-name">{{ selectedContent.author.firstname }} {{ selectedContent.author.lastname }}</p>
    <p>{{ selectedContent.pointOfInterest.name }}</p>
    <p class="hashtags">{{ selectedContent.hashtag }}</p>
    <p>{{ selectedContent.status }}</p>
    <div class="post-actions">
      <div *ngIf="selectedContent.status === Status.PENDING">
        <button (click)="approveContent(selectedContent.id)">Approve</button>
        <button (click)="rejectContent(selectedContent.id)">Reject</button>
      </div>
      <button (click)="updateContent(selectedContent.id)">Modify</button>
      <button (click)="deleteContent(selectedContent.id)">Delete</button>
      <button (click)="goBack()">Return to List</button>
    </div>
</div>

<section *ngIf="isCreatingContent || isUpdateContent">
<h2>{{ isCreatingContent ? 'New Content' : 'Modify Content'}}</h2>
<form [formGroup]="contentForm" (ngSubmit)="saveContent()">
    <div>
        <label>Title:</label>
        <input type="text" formControlName="title" required>
    </div>
  
    <div>
        <label>Content:</label>
        <textarea type="text" formControlName="content" required></textarea>
    </div>

    <div>
        <label>Hashtag:</label>
        <input type="text" formControlName="hashtag" required>
    </div>

  <div>
    <label for="idPoi">Point of Interest Associeted:</label>
    <select id="idPoi" formControlName="idPoi" required>
      <option value="" disabled selected>Select one Point of Interest...</option>
      <option *ngFor="let poi of pois" [value]="poi.id">{{ poi.name }} - {{ poi.description }}</option>
    </select>
  </div>

  <div>
    <h3>Upload File</h3>
    <input type="file" (change)="selectFile($event)">
    <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview of File" width="150">
  </div>

  <p></p>
  <p></p>

  <button type="submit" [disabled]="contentForm.invalid">Save</button>
  <button (click)="goBack()">Back</button>
</form>
</section>

<p></p>
<p></p>

<button class="footer-button" (click)="goToDashboard()">Return to Dashboard</button>